body{
    background-color: blueviolet;
    color: aliceblue;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
}
.header{
    display: flex;
    font-size: 24px;
    background-color: aquamarine;
    color: black;
    justify-content: center;
    font-style: oblique;
    font-family: Verdana;
    font-weight: 900;
}
nav{
    display: flex;
    justify-content: center;
    font-size: large;
    background-color:cadetblue ;
    overflow: hidden;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}
nav li{
    float: left;
}
nav a{
    display: block;
    color:palegoldenrod ;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav a:hover{
    background-color:dimgray ;
}
#left{
    float: left;
    width: 33.333%;
    background-color: darkmagenta;
}
#middle{
    float: left;
    width: 33.333%;
    background-color: indigo;
}
#right{
    float: left;
    width: 33.333%;
    background-color: darkslateblue;
}
h2{
    display: flex;
    justify-content: center;
}
footer{
    position: fixed;
    left: 10px;
    bottom: 5px;
    right: 10px;
    width: 100%;
    text-align: center;
    font-family: Verdana;
    background-color: cornflowerblue;
    color: black;
}
.ferrari{
    width: 30%;
    height: 30%;
}
#ferrari{
    font-size: 18px;
}
.lambo{
    width: 25%;
    height: 25%;
}
#lambo{
    font-size: 18px;
}